* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
h2{

color:#e6b326 ;


}
body{
    width: 100%;
    min-height: 100vh;
    background-image: url(imagem\ teste.jpeg);
    background-size: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descricao-senha{ /*Descrição sobre o espaço Senha*/
    font-size: small;
    color: #7e7e7e;
    padding: 4px;
}

.container{ /*Container que engloba todo o formulário*/
    background-color: #190041;
    border-radius: 10px;
    box-shadow: 0 2px 5px;
    width: 450px;
    max-width: 100%;
}

.header{ /*Espaço onde fica o <h2> "Crie uma conta"*/
    padding: 20px;
}

.form{ /*O formulário todo*/
    padding: 20px;
    color: #ecb620;
}

.form-control{ /*Classe das <div>*/
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{ /*referindo aos <label> "Nome de usuário, Email..."*/
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{ /*Espaço para colocar os valores ex: Email, senha...*/
    display: block;
    border: 3px solid #F3EFE0 ;
    background-color: #F3EFE0 ;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control i{ /*icons de check e exclamação*/
    position: absolute;
    top: 35px;
    right: 10px;
    visibility: hidden;
}

.form-control small{ /*mensagem de erro*/
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button{ /*Botão de enviar*/
    background-color: #F3EFE0;
    border: 5px solid #F3EFE0 ;
    color:  #7e7e7e;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.botao-cadastro:hover{ /*Deixar o botão enviar de outra cor caso passe o mause por cima*/
    background-color: #000000;
    border: 5px solid #000000;
}

.link-login{ /*link de login*/
    padding: 15px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6b326;
}
 /*erro e sucesso */
.form-control.success input{ /*caso preencha corretamente a borda do <input> fica verde*/
    border-color: green;
}

.form-control.error input{ /*caso preencha incorretamente a borda do <input> fica vermelho*/
    border-color: red;
}

.form-control.success i.fa-check-circle { /*caso preencha corretamente aparece o icon de sucesso verde*/
    color: green;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{ /*caso preencha incorretamente aparece o icon de erro vermelho*/
    color: red;
    visibility: visible;
}

.form-control.error small{ /*caso preencha errado aparece a mensagem de erro e na cor vermelha*/
    color: red;
    visibility: visible;
    width: 100%;
}
